<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- Ahashans's Connection String -->
    <add name="RechargeGauntlet.Properties.Settings.RechargeGauntletConnectionString"
      connectionString="Data Source=DESKTOP-5GQ0AGD;Initial Catalog=RechargeGauntlet;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- ****** Fahim's Connection string ******** -->
    <!-- <add name="RechargeGauntlet.Properties.Settings.RechargeGauntletConnectionString" -->
    <!--      connectionString="Data Source=DESKTOP-5GQ0AGD;Initial Catalog=RechargeGauntlet;Integrated Security=True" -->
    <!--      providerName="System.Data.SqlClient" /> -->
  
    
    

    <!-- ****** Shuvo's Connection string ******** -->
    <!-- <add name="RechargeGauntlet.Properties.Settings.RechargeGauntletConnectionString" -->
    <!--      connectionString="Data Source=DESKTOP-5GQ0AGD;Initial Catalog=RechargeGauntlet;Integrated Security=True" -->
    <!--      providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>